*{
    margin:0px;
    padding:0px;
    font-family: 'M PLUS 2', sans-serif;
}
body{
    background-color: #808080d2;
}
header{
    width: 100%;
    height: 100px;
    background-color: #005c80;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.cuadro{
    width: 20%;
    height: 370px;
    background-color: #e8e8e8;
}
input{
    padding:5px;
    margin:10px;
    width: 16%;
    background: linear-gradient(#d6dad5 #bdbebc);
    border-radius:5px;
}
.negro{
    width: 55%;
    height: 370px;
    background-color: #e8e8e8;
}
.cuadro,.negro{
    margin-top: 2px;
    box-shadow: 1px 1px 1px 1px black;
}
